
<h4>Scrapbill account</h4>
<h1 style="color:#2672ec;">Email verify code</h1> 
<p> Please use this code to verify the email for the Scrapabill account.</p>
<p>Here is your code: <strong>{{token}}</strong> </p> 

<blockquote> Thanks,<br>
The Scrapabill account team</blockquote>